<!doctype html>
<html lang=en>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <title> Register </title>
    </head>

    <script>



    </script>

    <body>
        <form method="POST">

            <input type="text" name="username" value="Username">
            <input type="text" name="shown_name" value="Shown name">
            <input type="password" name="password" value="Password">
            <input type="password" name="password_again" value="Password Again">
            <input type="submit" name="register" value="Register"> 

        </form>
    </body>

</html>
